{% extends 'front/master.html' %}

{% load static %}

{% block headblock %}
<title>{{ site.name|safe }} | PostItems</title>
{% endblock %}

{% block mainblock %}

<div class="row">
    <div class="col-md-12">
        <!-- Basic Form Elements Block -->
        <div class="block">
            <!-- Basic Form Elements Title -->
            <div class="block-title">
                <h2><strong>Add</strong> Items</h2>
            </div>
            <br>
            <br>
            <!-- END Form Elements Title -->

            <!-- Basic Form Elements Content -->
            <form action="{% url 'post_items' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-md-6">
                        <input id="itemstitle" name="itemstitle" type="text" class="form-control" placeholder="Items Title">
                    </div>
                    <div class="col-md-6">
                        <select id="itemscat" name="itemscat" class="select-chosen" data-placeholder="Choose a Category.." style="width: 250px;">
                            {% for i in subcat %}
                            <option value="{{i.pk}}">{{i.catname}} | {{i.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <textarea type="text" id="itemstxtshort" name="itemstxtshort" rows="5" class="form-control" placeholder="short txt">Short txt</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <textarea type="text" id="itemstxt" name="itemstxt" rows="5" class="form-control" placeholder="body txt">Body text</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <input type="file" id="myfile" name="myfile" rows="5" class="form-control" placeholder="choose image">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                    </div>
                </div>

            </form>
            <!-- END Basic Form Elements Content -->
        </div>
        <!-- END Basic Form Elements Block -->
    </div>

</div>

{% endblock %}

{% block footerblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>
    $(function () {
        TablesDatatables.init();
    });
</script>

{% endblock %}